* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

footer,
header,
aside {
  display: block;
}

html,
body {
  color: black;
  min-height: 100%;
  background: rgb(246, 246, 247);
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../font/SF Pro Text/SFProText-Regular.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SF Pro Display/SF-Pro-Display-Bold.otf");
}
@font-face {
  font-family: "SF Pro Text Bold";
  src: url("../font/SF Pro Text/SFProText-Bold.ttf");
}
@font-face {
  font-family: "SF Pro Text Medium";
  src: url("../font/SF Pro Text/SFProText-Medium.ttf");
}
@font-face {
  font-family: "SF Pro Text Semi-bold";
  src: url("../font/SF Pro Text/SFProText-Semibold.ttf");
}
@font-face {
  font-family: "SF-Pro-Display-Semibold";
  src: url("../font/SF Pro Display/SF-Pro-Display-Semibold.otf");
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
}

header {
  background-color: rgb(246, 246, 247);
}

.fon2 {
  background-color: rgb(0, 160, 172);
}

.hat {
  display: flex;
  flex-direction: column;
}

.contacts-hat {
  display: flex;
  justify-content: space-between;
  background-color: rgb(246, 246, 247);
  width: 100%;
  padding: 12px 0px;
}

.search {
  display: flex;
}

.location {
  font-family: SF Pro Text;
  font-weight: 400;
  display: flex;
  gap: 8px;
}

.locationImg {
  width: 16px;
  height: 16px;
}

.metro {
  font-family: SF Pro Text;
  font-weight: 400;
  display: flex;
  gap: 6px;
}

.metroImg {
  width: 16px;
  height: 16px;
}

.workTime {
  font-family: SF Pro Text;
  font-weight: 400;
  display: flex;
  gap: 6px;
}
.workTime p {
  white-space: nowrap;
}
.workTime span {
  color: #8C9196;
}

.clockImg {
  width: 16px;
  height: 16px;
}

.phone {
  font-family: SF Pro Text;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.phone a {
  text-decoration: none;
  color: rgb(32, 34, 35);
}

.mobileImg {
  width: 16px;
  height: 16px;
}

.insta {
  width: 18px;
  height: 18px;
}

.callBack {
  text-decoration: none;
  font-family: SF Pro Text;
  font-weight: 400;
  display: flex;
  color: rgb(44, 110, 203);
}

.auto {
  width: 24px;
  height: 24px;
  filter: brightness(0) saturate(100%) invert(76%) sepia(10%) saturate(1200%) hue-rotate(70deg) brightness(90%) contrast(85%);
}

.zoo {
  color: white;
  font-weight: bold 700px;
  font-family: SF Pro Text Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.search {
  font-family: SF Pro Text;
  gap: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 0px;
  justify-content: space-between;
}

.navigation {
  list-style: none;
  display: flex;
  gap: 32px;
}
.navigation a {
  color: white;
  text-decoration: none;
}

.search a:hover {
  text-decoration: underline;
}

.searchInput {
  border-radius: 5px;
  padding: 8px 12px 8px 40px;
  font-family: SF Pro Text;
  width: 100%;
}

.searchImg {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.searchAll {
  flex: 1;
  position: relative;
  max-width: 500px;
}

.cart {
  padding: 8px 14px 8px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-family: SF Pro Text;
  font-size: 15px;
  font-weight: 500;
  gap: 5px;
  background-color: white;
  color: black;
  text-decoration: none;
}

.cart:hover {
  cursor: pointer;
}/*# sourceMappingURL=catalog.css.map */