* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

footer,
header,
aside {
  display: block;
}

html,
body {
  color: black;
  min-height: 100%;
  background: rgb(246, 246, 247);
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../font/SF Pro Text/SFProText-Regular.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SF Pro Display/SF-Pro-Display-Bold.otf");
}
@font-face {
  font-family: "SF Pro Text Bold";
  src: url("../font/SF Pro Text/SFProText-Bold.ttf");
}
@font-face {
  font-family: "SF Pro Text Medium";
  src: url("../font/SF Pro Text/SFProText-Medium.ttf");
}
@font-face {
  font-family: "SF Pro Text Semi-bold";
  src: url("../font/SF Pro Text/SFProText-Semibold.ttf");
}
@font-face {
  font-family: "SF-Pro-Display-Semibold";
  src: url("../font/SF Pro Display/SF-Pro-Display-Semibold.otf");
}
@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url(../font/SF\ Pro\ Display/SF-Pro-Display-Regular.otf);
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
  overflow: hidden;
}

header {
  background-color: rgb(246, 246, 247);
}

.fon2 {
  background-color: rgb(0, 160, 172);
}

.hat {
  display: flex;
  flex-direction: column;
}

.contacts-hat {
  display: flex;
  justify-content: space-between;
  background-color: rgb(246, 246, 247);
  width: 100%;
  padding: 12px 0px;
}

.search {
  display: flex;
}

.location {
  font-family: SF Pro Text;
  font-weight: 400;
  display: flex;
  gap: 8px;
}

.locationImg {
  width: 16px;
  height: 16px;
}

.metro {
  font-family: SF Pro Text;
  font-weight: 400;
  display: flex;
  gap: 6px;
}

.metroImg {
  width: 16px;
  height: 16px;
}

.workTime {
  font-family: SF Pro Text;
  font-weight: 400;
  display: flex;
  gap: 6px;
}
.workTime p {
  white-space: nowrap;
}
.workTime span {
  color: #8C9196;
}

.clockImg {
  width: 16px;
  height: 16px;
}

.phone {
  font-family: SF Pro Text;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.phone a {
  text-decoration: none;
  color: rgb(32, 34, 35);
}

.mobileImg {
  width: 16px;
  height: 16px;
}

.insta {
  width: 18px;
  height: 18px;
}

.callBack {
  text-decoration: none;
  font-family: SF Pro Text;
  font-weight: 400;
  display: flex;
  color: rgb(44, 110, 203);
}

.auto {
  width: 24px;
  height: 24px;
  filter: brightness(0) saturate(100%) invert(76%) sepia(10%) saturate(1200%) hue-rotate(70deg) brightness(90%) contrast(85%);
}

.zoo {
  color: white;
  font-weight: bold 700px;
  font-family: SF Pro Text Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.search {
  font-family: SF Pro Text;
  gap: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 0px;
  justify-content: space-between;
}

.navigation {
  list-style: none;
  display: flex;
  gap: 32px;
}
.navigation a {
  color: white;
  text-decoration: none;
}

.search a:hover {
  text-decoration: underline;
}

.searchInput {
  border-radius: 5px;
  padding: 8px 12px 8px 40px;
  font-family: SF Pro Text;
  width: 100%;
}

.searchImg {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.searchAll {
  flex: 1;
  position: relative;
  max-width: 500px;
}

.cart {
  padding: 8px 14px 8px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-family: SF Pro Text;
  font-size: 15px;
  font-weight: 500;
  gap: 5px;
  background-color: white;
  color: black;
  text-decoration: none;
}

.cart:hover {
  cursor: pointer;
}

.main {
  color: white;
}

.navigationHead {
  margin-top: 16px;
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
.navigationHead a {
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

.navMain {
  color: #202223;
}

.navCatalog {
  color: #6D7175;
}

.navProduct {
  color: #6D7175;
}

.nameProduct {
  max-width: 800px;
}
.nameProduct h1 {
  font-family: SF Pro Display;
  font-weight: 600;
  font-style: Semibold;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0px;
  margin-bottom: 24px;
}
.nameProduct a {
  font-family: SF Pro Text;
  font-weight: 600;
  font-style: Semibold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #2C6ECB;
}

.productAll {
  margin-top: 32px;
  display: flex;
  gap: 90px;
}

.gallery {
  display: flex;
}

.frame {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mainImg {
  padding-right: 16px;
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.productInfo h2 {
  font-family: SF-Pro-Display-Semibold;
  font-weight: 600;
  font-style: Semibold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
}

.weightPrice {
  display: flex;
  gap: 16px;
}
.weightPrice .off {
  padding: 6px 16px;
  background-color: #E4E5E7;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.weightPrice .active {
  padding: 6px 16px;
  background-color: #008060;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.weightPrice .active .weight {
  color: white;
}
.weightPrice .active .price {
  color: white;
}
.weightPrice .weight {
  font-family: SF Pro Text Bold;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0px;
}
.weightPrice .price {
  font-family: SF-Pro-Display-Regular;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0%;
  color: #6D7175;
}

.pickup {
  display: flex;
  gap: 18px;
  align-items: center;
}
.pickup p {
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0px;
}
.pickup .pickup-only {
  color: #5C5C5C;
}
.pickup .pickup-adres {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.chooseWeight {
  display: none;
}

.chooseWeight-active {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.chooseWeight-active h3 {
  font-family: SF-Pro-Display-Semibold;
  font-weight: 600;
  font-style: Semibold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
}
.chooseWeight-active .input-weight {
  display: flex;
  gap: 8px;
}
.chooseWeight-active input {
  border: 1px solid #BABFC3;
  border-radius: 4px;
  padding: 8px 12px;
  width: 184px;
  font-family: SF Pro Text;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.chooseWeight-active input::-moz-placeholder {
  color: #202223;
}
.chooseWeight-active input::placeholder {
  color: #202223;
}
.chooseWeight-active button {
  border: 1px solid #8C9196;
  border-radius: 4px;
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  background-color: white;
  padding: 8px 16px;
}

.price_weight {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: white;
  align-items: center;
}
.price_weight span {
  font-family: SF Pro Display;
  font-weight: 700;
  font-style: Bold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
}
.price_weight p {
  font-family: SF Pro Text Semi-bold;
  font-weight: 600;
  font-style: Semibold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #202223;
}

.info-weight {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.info-weight p {
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #2C6ECB;
}

.adres-metro {
  display: flex;
  gap: 12px;
}

.amount {
  display: flex;
  gap: 6px;
}
.amount .add {
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  width: 36px;
  height: 36px;
  color: #008060;
  background-color: white;
  border: 1px solid #BABFC3;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.amount input {
  width: 36px;
  height: 36px;
  background-color: white;
  border: 1px solid #BABFC3;
  border-radius: 4px;
  font-family: SF Pro Text;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
  justify-content: center;
}
.amount input::-moz-placeholder {
  color: #202223;
  text-align: center;
}
.amount input::placeholder {
  color: #202223;
  text-align: center;
}

.buy-product {
  display: flex;
  gap: 33px;
  align-items: center;
}
.buy-product .add-cart {
  white-space: nowrap;
  padding: 12px 24px;
  background-color: #00A0AC;
  color: white;
  border-radius: 4px;
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
.buy-product p {
  white-space: nowrap;
  font-family: SF Pro Text Medium;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #2C6ECB;
}

.info-product {
  display: flex;
  gap: 30px;
  margin: 64px 0px;
}
.info-product h2 {
  font-family: SF-Pro-Display-Semibold;
  font-weight: 600;
  font-style: Semibold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
}
.info-product h3 {
  font-family: SF Pro Text Semi-bold;
  font-weight: 600;
  font-style: Semibold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  padding-bottom: 12px;
}
.info-product p {
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}
.info-product li {
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  list-style: disc;
}

.description {
  max-width: 670px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.compound {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.peculiarities ul, .analysis ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 20px;
}

.composition {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.popular {
  font-family: SF-Pro-Display-Semibold;
  font-weight: 600;
  font-style: Semibold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
}

.moreCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreProduct {
  color: rgb(255, 255, 255);
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  padding: 13px 25px;
  background-color: rgb(0, 160, 172);
  border-radius: 4px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 236px;
  margin-top: 24px;
  margin-bottom: 56px;
}

.popularButton {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.popularButton button {
  padding: 10px;
  border-radius: 40px;
  background-color: white;
  transition: all 0.3s ease;
}
.popularButton button:hover {
  background-color: rgb(0, 160, 172);
}
.popularButton button:hover img {
  filter: brightness(0) invert(1);
}

.buttonLR {
  display: flex;
  gap: 16px;
}

.prevProduct {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.priceBuy {
  gap: 11px;
  display: flex;
  flex-direction: column;
}

.kg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.btnKg {
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  background-color: rgb(228, 229, 231);
  border: none;
  padding: 2px 8px;
  transition: all 0.3s ease;
}

.btnKg:hover {
  background-color: rgb(68, 157, 167);
  color: white;
}

.card {
  position: relative;
  width: 270px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: white;
  gap: 16px;
  justify-content: space-between;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
}

h3 {
  font-family: SF Pro Text Semi-bold;
  font-weight: 600;
  font-style: Semibold;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  transition: all 0.3s ease;
  cursor: pointer;
}

h3:hover {
  color: rgb(0, 160, 172);
}

.buy {
  font-family: SF Pro Text Medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(0, 160, 172);
  border-radius: 4px;
  background-color: white;
  padding: 8px 16px;
  transition: all 0.3s ease;
}

.buy:hover {
  background-color: rgb(0, 160, 172);
  color: white;
}

.cart {
  padding: 5px 8px 5px 12px;
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: white;
  border: solid 0.7px;
  border-color: rgb(186, 191, 195);
  border-radius: 5px;
}

.byn {
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}

.title {
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 28px;
}

.active {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.imgCard {
  width: 254px;
  height: 210px;
  -o-object-fit: contain;
     object-fit: contain;
}

.Popular_Product {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  transition: transform 0.5s ease-in-out;
}

.sale {
  position: absolute;
  padding: 0px 6px;
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  color: white;
  background-color: #FD5749;
}

.catalogList {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  transition: transform 0.5s ease-in-out;
}

.usefulArticle {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 28px;
}
.usefulArticle h2 {
  font-family: SF Pro Display;
  font-weight: 600;
  font-style: Semibold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
}
.usefulArticle button {
  border-radius: 40px;
  background-color: white;
  padding: 10px;
}

.article {
  width: 370px;
  min-height: 346px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 16px;
  gap: 16px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}
.article h3 {
  font-family: SF Pro Text;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}
.article p {
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0px;
}

.article:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.readTime {
  display: flex;
  color: #8C9196;
  justify-content: space-between;
  margin-top: auto;
}
.readTime div {
  display: flex;
  gap: 6px;
}
.readTime img {
  width: 16px;
  height: 16px;
}

.centerArticle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
}

.moreArticle {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  padding: 12px 24px;
  background-color: #00A0AC;
  border-radius: 4px;
}

.article-list {
  display: flex;
  gap: 30px;
  margin-bottom: 24px;
  transition: transform 0.5s ease;
  align-items: stretch;
}

.articalText {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.articles-slider {
  overflow: hidden;
  width: 100%;
}

.img-article {
  width: 338px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: white;
  padding-top: 16px;
}

.navFooter {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D2D5D8;
  padding-bottom: 16px;
}

.zooFoot {
  color: black;
  font-weight: bold 700px;
  font-family: SF Pro Text Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.zooFoot span {
  color: rgb(0, 128, 96);
}

.navigationFoot {
  list-style: none;
  display: flex;
  gap: 32px;
}
.navigationFoot a {
  color: black;
  text-decoration: none;
  font-family: SF Pro Text Medium;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

.contacts-foot {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 20px;
}
.contacts-foot p {
  font-size: 14px;
}
.contacts-foot a {
  font-size: 14px;
}
.contacts-foot .callBack {
  font-size: 16px;
}

.footInfo {
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
}
.footInfo p {
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #8C9196;
}
.footInfo span {
  color: #2C6ECB;
}/*# sourceMappingURL=product.css.map */