* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

footer,
header,
aside {
  display: block;
}

html,
body {
  color: black;
  min-height: 100%;
  background: rgb(246, 246, 247);
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../font/SF Pro Text/SFProText-Regular.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SF Pro Display/SF-Pro-Display-Bold.otf");
}
@font-face {
  font-family: "SF Pro Text Bold";
  src: url("../font/SF Pro Text/SFProText-Bold.ttf");
}
@font-face {
  font-family: "SF Pro Text Medium";
  src: url("../font/SF Pro Text/SFProText-Medium.ttf");
}
@font-face {
  font-family: "SF Pro Text Semi-bold";
  src: url("../font/SF Pro Text/SFProText-Semibold.ttf");
}
@font-face {
  font-family: "SF-Pro-Display-Semibold";
  src: url("../font/SF Pro Display/SF-Pro-Display-Semibold.otf");
}
@font-face {
  font-family: "SF-Pro-Display-Regular";
  src: url(../font/SF\ Pro\ Display/SF-Pro-Display-Regular.otf);
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 15px;
  overflow: hidden;
}

header {
  background-color: rgb(246, 246, 247);
}

.fon2 {
  background-color: rgb(0, 160, 172);
}

.hat {
  display: flex;
  flex-direction: column;
}

.contacts-hat {
  display: flex;
  justify-content: space-between;
  background-color: rgb(246, 246, 247);
  width: 100%;
  padding: 12px 0px;
}

.search {
  display: flex;
}

.location {
  font-family: SF Pro Text;
  font-weight: 400;
  display: flex;
  gap: 8px;
}

.locationImg {
  width: 16px;
  height: 16px;
}

.metro {
  font-family: SF Pro Text;
  font-weight: 400;
  display: flex;
  gap: 6px;
}

.metroImg {
  width: 16px;
  height: 16px;
}

.workTime {
  font-family: SF Pro Text;
  font-weight: 400;
  display: flex;
  gap: 6px;
}
.workTime p {
  white-space: nowrap;
}
.workTime span {
  color: #8C9196;
}

.clockImg {
  width: 16px;
  height: 16px;
}

.phone {
  font-family: SF Pro Text;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.phone a {
  text-decoration: none;
  color: rgb(32, 34, 35);
}

.mobileImg {
  width: 16px;
  height: 16px;
}

.insta {
  width: 18px;
  height: 18px;
}

.callBack {
  text-decoration: none;
  font-family: SF Pro Text;
  font-weight: 400;
  display: flex;
  color: rgb(44, 110, 203);
}

.auto {
  width: 24px;
  height: 24px;
  filter: brightness(0) saturate(100%) invert(76%) sepia(10%) saturate(1200%) hue-rotate(70deg) brightness(90%) contrast(85%);
}

.zoo {
  color: white;
  font-weight: bold 700px;
  font-family: SF Pro Text Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.search {
  font-family: SF Pro Text;
  gap: 40px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 0px;
  justify-content: space-between;
}

.navigation {
  list-style: none;
  display: flex;
  gap: 32px;
}
.navigation a {
  color: white;
  text-decoration: none;
}

.search a:hover {
  text-decoration: underline;
}

.searchInput {
  border-radius: 5px;
  padding: 8px 12px 8px 40px;
  font-family: SF Pro Text;
  width: 100%;
}

.searchImg {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.searchAll {
  flex: 1;
  position: relative;
  max-width: 500px;
}

.cart {
  padding: 8px 14px 8px 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  font-family: SF Pro Text;
  font-size: 15px;
  font-weight: 500;
  gap: 5px;
  background-color: white;
  color: black;
  text-decoration: none;
}

.cart:hover {
  cursor: pointer;
}

.main {
  color: white;
}

.animal {
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: space-between;
}
.animal a {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  color: rgb(32, 34, 35);
  width: 214px;
  height: 84px;
  background-color: white;
  margin: 24px 0px;
  border-radius: 5px;
}

.fonAnimal {
  background-color: rgb(246, 246, 247);
}

.animalList {
  display: flex;
  gap: 24px;
}
.animalList li {
  opacity: 1;
}

.mainFon {
  background-color: white;
}

.titleMain {
  font-family: SF Pro Display;
  font-size: 42px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0px;
  color: #202223;
  margin-bottom: 32px;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  margin-top: 67px;
}
.mainInfo p {
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
}
.mainInfo span {
  font-weight: 700;
}

.selectProduct {
  color: white;
  background-color: #00A0AC;
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  padding: 12px 24px 12px 24px;
  border-radius: 5px;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.2) inset, 0px 1px 0px 0px rgba(0, 0, 0, 0.0784313725);
  width: 155px;
}

.mainAll {
  display: flex;
}

.description {
  display: flex;
  margin-bottom: 32px;
  gap: 40px;
}
.description p {
  border-left: 2px solid rgb(152, 198, 205);
  padding-left: 8px;
}

.mainImg {
  margin-top: 32px;
  margin-bottom: 40px;
}
.mainImg img {
  height: 377px;
  width: 573px;
}

.giftFon {
  background-color: rgb(246, 246, 247);
}

.giftPromotion {
  display: flex;
  gap: 32px;
  margin-top: 56px;
  margin-bottom: 61px;
}
.giftPromotion a {
  font-family: SF Pro Text Medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: rgb(32, 34, 35);
  border: solid 1px rgb(140, 145, 150);
  border-radius: 5px;
  padding: 8px 16px;
  background-color: rgb(255, 255, 255);
  max-width: 216px;
  display: flex;
  flex-wrap: nowrap;
}
.giftPromotion p {
  font-family: SF Pro Display;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.promotion {
  display: flex;
  background: #FFD79D;
}

.gift {
  display: flex;
  background: #AEE9D1;
}

.promotionCol {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.giftCol {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.popular {
  font-family: SF-Pro-Display-Semibold;
  font-weight: 600;
  font-style: Semibold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
}

.moreCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.moreProduct {
  color: rgb(255, 255, 255);
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  padding: 13px 25px;
  background-color: rgb(0, 160, 172);
  border-radius: 4px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 236px;
  margin-top: 24px;
  margin-bottom: 56px;
}

.popularButton {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.popularButton button {
  padding: 10px;
  border-radius: 40px;
  background-color: white;
  transition: all 0.3s ease;
}
.popularButton button:hover {
  background-color: rgb(0, 160, 172);
}
.popularButton button:hover img {
  filter: brightness(0) invert(1);
}

.buttonLR {
  display: flex;
  gap: 16px;
}

.prevProduct {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.priceBuy {
  gap: 11px;
  display: flex;
  flex-direction: column;
}

.kg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.btnKg {
  font-family: SF Pro Text;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  background-color: rgb(228, 229, 231);
  border: none;
  padding: 2px 8px;
  transition: all 0.3s ease;
}

.btnKg:hover {
  background-color: rgb(68, 157, 167);
  color: white;
}

.card {
  position: relative;
  width: 270px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: white;
  gap: 16px;
  justify-content: space-between;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
}

h3 {
  font-family: SF Pro Text Semi-bold;
  font-weight: 600;
  font-style: Semibold;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
  transition: all 0.3s ease;
  cursor: pointer;
}

h3:hover {
  color: rgb(0, 160, 172);
}

.buy {
  font-family: SF Pro Text Medium;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(0, 160, 172);
  border-radius: 4px;
  background-color: white;
  padding: 8px 16px;
  transition: all 0.3s ease;
}

.buy:hover {
  background-color: rgb(0, 160, 172);
  color: white;
}

.cart {
  padding: 5px 8px 5px 12px;
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: white;
  border: solid 0.7px;
  border-color: rgb(186, 191, 195);
  border-radius: 5px;
}

.byn {
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}

.title {
  font-family: SF Pro Text;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 28px;
}

.active {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.imgCard {
  width: 254px;
  height: 210px;
  -o-object-fit: contain;
     object-fit: contain;
}

.Popular_Product {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  transition: transform 0.5s ease-in-out;
}

.sale {
  position: absolute;
  padding: 0px 6px;
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  color: white;
  background-color: #FD5749;
}

.fonNew {
  background-color: white;
  overflow: hidden;
}

.buttonLRnew-button {
  background-color: rgb(246, 246, 247);
}

.NewStaf {
  font-family: SF Pro Display;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.buttonLRnew {
  display: flex;
  gap: 16px;
  color: #F6F6F7;
}

.NewButton {
  display: flex;
  justify-content: space-between;
  padding: 24px 0px;
}
.NewButton button {
  padding: 10px;
  border-radius: 40px;
  background-color: #F6F6F7;
  transition: all 0.3s ease;
}
.NewButton button:hover {
  background-color: rgb(0, 160, 172);
}
.NewButton button:hover img {
  filter: brightness(0) invert(1);
}

.cardProduct--grey {
  background-color: #FAFBFB;
}

.New_product {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  transition: transform 0.5s ease-in-out;
}

.cardN {
  position: relative;
  width: 270px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: #FAFBFB;
  gap: 16px;
  justify-content: space-between;
}

.popularBrand {
  font-family: SF Pro Display;
  font-weight: 600;
  font-style: Semibold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 24px;
  margin-top: 56px;
}

.moreBrands {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  padding: 12px 24px;
  background-color: #00A0AC;
  border-radius: 4px;
  margin-top: 24px;
  margin-bottom: 56px;
}

.brands img {
  padding: 14px 20px;
  background-color: white;
}
.brands ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.fonReviews {
  background-color: white;
}

.mainReview {
  font-family: SF Pro Display;
  font-weight: 600;
  font-style: Semibold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0px;
}

.buttonReview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 16px;
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: #916A00;
  gap: 48px;
}
.buttonReview button {
  border-radius: 40px;
  padding: 10px;
}

.review {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0px;
  text-align: center;
}

.usefulArticle {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 28px;
}
.usefulArticle h2 {
  font-family: SF Pro Display;
  font-weight: 600;
  font-style: Semibold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
}
.usefulArticle button {
  border-radius: 40px;
  background-color: white;
  padding: 10px;
}

.article {
  width: 370px;
  min-height: 346px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 16px;
  gap: 16px;
}
.article h3 {
  font-family: SF Pro Text;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}
.article p {
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0px;
}

.readTime {
  display: flex;
  color: #8C9196;
  justify-content: space-between;
  margin-top: auto;
}
.readTime div {
  display: flex;
  gap: 6px;
}
.readTime img {
  width: 16px;
  height: 16px;
}

.centerArticle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
}

.moreArticle {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  padding: 12px 24px;
  background-color: #00A0AC;
  border-radius: 4px;
}

.article-list {
  display: flex;
  gap: 30px;
  margin-bottom: 24px;
  transition: transform 0.5s ease;
  align-items: stretch;
}

.articalText {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.articles-slider {
  overflow: hidden;
  width: 100%;
}

.img-article {
  width: 338px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.fonInfo {
  background-color: white;
  margin-bottom: 56px;
}

.info {
  display: flex;
  gap: 110px;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.about h2 {
  font-family: SF Pro Display;
  font-weight: 600;
  font-style: Semibold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0px;
}
.about h3 {
  font-family: SF Pro Text;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0px;
}
.about p {
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0px;
}

.aboutMarket {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.aboutProduct {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-left: 2px solid #98C6CD;
  padding-left: 12px;
}

.map {
  display: flex;
  gap: 86px;
  margin-bottom: 56px;
}
.map h2 {
  font-family: SF-Pro-Display-Semibold;
  font-weight: 600;
  font-style: Semibold;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0px;
}
.map h3 {
  font-family: SF Pro Text Semi-bold;
  font-weight: 600;
  font-style: Semibold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-bottom: 8px;
}

.mapInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 0 0 344px;
  justify-content: center;
}

footer {
  background-color: white;
  padding-top: 16px;
}

.navFooter {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D2D5D8;
  padding-bottom: 16px;
}

.zooFoot {
  color: black;
  font-weight: bold 700px;
  font-family: SF Pro Text Bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.zooFoot span {
  color: rgb(0, 128, 96);
}

.navigationFoot {
  list-style: none;
  display: flex;
  gap: 32px;
}
.navigationFoot a {
  color: black;
  text-decoration: none;
  font-family: SF Pro Text Medium;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
}

.contacts-foot {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 20px;
}
.contacts-foot p {
  font-size: 14px;
}
.contacts-foot a {
  font-size: 14px;
}
.contacts-foot .callBack {
  font-size: 16px;
}

.footInfo {
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
}
.footInfo p {
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #8C9196;
}
.footInfo span {
  color: #2C6ECB;
}

.callBack-form {
  position: relative;
  padding: 24px 56px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 461px;
  border-radius: 8px;
}
.callBack-form h2 {
  font-family: SF Pro Display;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}
.callBack-form h5 {
  font-family: SF Pro Text Semi-bold;
  font-weight: 600;
  font-style: Semibold;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0px;
}
.callBack-form input {
  font-family: SF Pro Text;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
  border: 1px solid #BABFC3;
  width: 347px;
  padding: 8px 12px;
  border-radius: 4px;
}
.callBack-form button {
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  background-color: #00A0AC;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
}
.callBack-form p {
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  padding-bottom: 4px;
}
.callBack-form .personal-data {
  color: #2C6ECB;
  cursor: pointer;
}
.callBack-form .send {
  display: flex;
  align-items: center;
  justify-content: center;
}
.callBack-form .close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.callBack-hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.callBack-active {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s ease;
  visibility: visible;
  opacity: 1;
}

.success-form, .wrong-form {
  position: relative;
  padding: 24px 56px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 461px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.success-form img, .wrong-form img {
  width: 40px;
  height: 40px;
}
.success-form .close, .wrong-form .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 4px;
  right: 4px;
  cursor: pointer;
}
.success-form h2, .wrong-form h2 {
  font-family: SF Pro Display;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}
.success-form p, .wrong-form p {
  font-family: SF Pro Text;
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}
.success-form button, .wrong-form button {
  color: white;
  background-color: #00A0AC;
  border-radius: 4px;
  font-family: SF Pro Text;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success, .wrong {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s ease;
  visibility: visible;
  opacity: 1;
}

.hidden {
  display: none;
}

.success.show, .wrong.show {
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=style.css.map */