.usefulArticle {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 28px;

    & h2 {
        font-family: SF Pro Display;
        font-weight: 600;
        font-style: Semibold;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0px;
    }

    & button {
        border-radius: 40px;
        background-color: white;
        padding: 10px;
    }
}

.article {
    width: 370px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px;
    gap: 16px;
    & h3 {
        font-family: SF Pro Text;
        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;

    }

    & p {
        font-family: SF Pro Text;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 125%;
        letter-spacing: 0px;

    }
}

.readTime {
    display: flex;
    color: #8C9196;
    justify-content: space-between;
    & div{
        display: flex;
        gap: 6px;
    }
    & img{
        width: 16px;
        height: 16px;
    }
}
.centerArticle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 56px;
}
.moreArticle{
     font-family: SF Pro Text;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: white;
    padding: 12px 24px;
    background-color: #00A0AC;
    border-radius: 4px;
}
.articleList{
    display: flex;
    gap: 30px;
    margin-bottom: 24px;
}
.articalText{
    display: flex;
    flex-direction: column;
    gap: 6px;
}