.popular {
    font-family: SF Pro Display;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.moreCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreProduct {
    color: rgba(255, 255, 255, 1);
    font-family: SF Pro Text;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    padding: 13px 25px;
    background-color: rgba(0, 160, 172, 1);
    border-radius: 4px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08), inset 0px -1px 0px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 236px;
    margin-top: 24px;
    margin-bottom: 56px;
}

.popularButton {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    & button {
        padding: 10px;
        border-radius: 40px;
        background-color: white;
        transition: all 0.3s ease;

        &:hover {
            background-color: rgba(0, 160, 172, 1);

            img {
                filter: brightness(0) invert(1);
            }
        }
    }
}

.buttonLR {
    display: flex;
    gap: 16px;
}

.prevProduct {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.priceBuy {
    gap: 11px;
    display: flex;
    flex-direction: column;
}

.cardProduct {
    display: flex;
    flex-direction: column;
    gap: 31px;
    max-width: 270px;
    max-height: 392px;
    padding: 8px;

    &--white {
        background-color: white;
    }

    & img {
        max-height: 130px;
        max-width: 254px;
    }

    & h2 {
        color: rgba(0, 0, 0, 1);
        font-family: SF Pro Text Bold;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
        cursor: pointer;

        &:hover {
            color: rgba(0, 160, 172, 1);
        }
    }

    & .buy1click {
        padding: 9px 73px;
        background-color: white;
        border: 1px solid rgba(0, 160, 172, 1);
        border-radius: 5px;
        display: flex;
        gap: 11px;
    }

    & .cart {
        border: 1px solid;
        border-radius: 5px;
        border-color: rgba(186, 191, 195, 1);
        background-color: white;
        padding: 5px 5px 5px 12px;
        cursor: pointer;

        &:hover {
            background-color: white;
            border-color: rgba(186, 191, 195, 1);
            color: inherit;
        }

    }

    & button {
        font-family: SF Pro Text;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        padding: 2px 8px;
        background-color: rgba(228, 229, 231, 1);

        &:hover {
            background-color: rgba(0, 160, 172, 1);
            color: white;
        }
    }

    & span {
        font-family: SF Pro Text Bold;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0px;
        text-align: left;
    }

}

.priceCart {
    display: flex;
    align-items: center;
    gap: 16px;
}

.product {
    display: flex;
    gap: 30px;
}