.catalogPrewiew {
    display: flex;
}

.filters {
    display: flex;
    flex-direction: column;
}

.onlyPromotion {
    & label {
        font-family: SF Pro Text;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;

    }
}

.typeProduct {
    & p {
        font-family: SF Pro Text;
        font-weight: 600;
        font-style: Semibold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;

    }

    & label {
        font-family: SF Pro Text;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;

    }
}

.byBrands {
    & p {
        font-family: SF Pro Text;
        font-weight: 600;
        font-style: Semibold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;

    }

    & label {
        font-family: SF Pro Text;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;

    }
}

.catalogList {
    display: flex;
}