footer {
    background-color: white;
    padding-top: 16px;
}

.navFooter {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D2D5D8;
    padding-bottom: 16px;
}

.zooFoot {
    color: black;
    font-weight: bold 700px;
    font-family: SF Pro Text Bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    gap: 6px;

    & span {
        color: rgba(0, 128, 96, 1);
    }
}

.navigationFoot {
    list-style: none;
    display: flex;
    gap: 32px;

    & a {
        color: black;
        text-decoration: none;
        font-family: SF Pro Text Medium;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;

    }
}

.contacts-foot {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 20px;

    & p {
        font-size: 14px;
    }

    & a {
        font-size: 14px;
    }

    .callBack {
        font-size: 16px;
    }
}

.footInfo {
    margin: 16px 0px;
    display: flex;
    justify-content: space-between;

    & p {
        font-family: SF Pro Text;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #8C9196;
    }
    & span{
        color: #2C6ECB;
    }
}