.map {
    display: flex;
    gap: 86px;
    margin-bottom: 56px;

    & h2 {
        font-family: SF-Pro-Display-Semibold;
        font-weight: 600;
        font-style: Semibold;
        font-size: 20px;
        line-height: 130%;
        letter-spacing: 0px;

    }

    & h3 {
        font-family: SF Pro Text Semi-bold;
        font-weight: 600;
        font-style: Semibold;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0px;
        margin-bottom: 8px;
    }
}

.mapInfo {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 0 0 344px;
    justify-content: center;
    
}