.navigationHead {
    margin-top: 16px;
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
    & a {
        font-family: SF Pro Text;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
    }
}

.navMain {
    color: #202223;
}

.navCatalog {
    color: #6D7175;
}