.fonNew {
    background-color: white;
}

.buttonLRnew-button {
    background-color: rgba(246, 246, 247, 1);
}

.NewStaf {
    font-family: SF Pro Display;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    
}

.buttonLRnew {
    display: flex;
    gap: 16px;
    color: #F6F6F7;
}

.NewButton {
    display: flex;
    justify-content: space-between;
    padding: 24px 0px;
    & button {
        padding: 10px;
        border-radius: 40px;
        background-color: #F6F6F7;
        transition: all 0.3s ease;

        &:hover {
            background-color: rgba(0, 160, 172, 1);

            img {
                filter: brightness(0) invert(1);
            }
        }
    }
}
.cardProduct{
    &--grey{
        background-color: #FAFBFB;
    }
}