@use "./null";
@use "./header";
@use "./animals";
@use "./welcome";
@use "./gift_promotion";
@use "./cardProduct";
@use "./new";
@use "./brands";
@use "./reviews";
@use "./article";
@use "./aboutZoo";
@use "./map";
@use "./footer";